@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.background-image{
    background-image:url('https://data.1freewallpapers.com/download/lake-night-moon-mountains-free.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height:700px;
}
